{% extends 'layout.html' %} {% block content %}
<div>{{name}}님의 의뢰는 다음과 같습니다.</div>
<div>회사:{{company}}</div>
<div>이메일:{{email}}</div>
<div>전화번호:{{phone}}</div>
<div>의뢰 내용: {{detail}}</div>
<form id="ask-option" action="/" method="get">
<button class="ask-option__check">확인했습니다</button>
</form>
<form id="ask-option" action="/ask/form" method="get">
<button class="ask-option__change">의뢰를 수정하고 싶습니다</button>
</form>
<form id="ask-option" action="/ask/delete" method="post">
<input type='hidden' name='email' value={{email}}>
<button class="ask-option__delete">의뢰를 삭제하고 싶습니다</button>
</form>

{% endblock %}


{% block script %}


</script>
{% endblock %}